/* Logo Font (1920) */
@font-face {
    font-family: '1920';
    src: url("assets/fonts/1920/1920____.TTF") format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: '1920';
    src: url("assets/fonts/1920/1920B___.TTF");
    font-weight: bold;
}

/* Main Font (Black Mango) */
@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Thin') format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-ExtraLight') format(truetype);
    font-weight: 200;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Light') format(truetype);
    font-weight: 300;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Regular') format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Medium') format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-SemiBold') format(truetype);
    font-weight: 600;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Bold') format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-ExtraBold') format(truetype);
    font-weight: 800;
}

@font-face {
    font-family: 'Black Mango';
    src: url('assets/fonts/BlackMango/BlackMango-Black') format(truetype);
    font-weight: 900;
}
/* =========================================================================================== */

/* =========================================================================================== */
/* Design Begins from here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

body {
    width: 100%;
    height: 100%;
    background-color: #ECDCC9;
    font-family: "Black Mango";
    letter-spacing: 2px;
    color: #3A3835;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2.09vw;
    /* border-bottom: 3px solid #CAC2B5; */
}

#text-logo{
    font-family: "1920";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4D243D;
}

.home-button {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    padding: 20px 20px;
    color: #4D243D;
    font-family: "Black Mango";
    font-weight: 500;
    /* font-size: 16px; */
    /* letter-spacing: 2px; */
    border-radius: 200px;
    border: 1px solid #4D243D;
    display: flex;
    align-items: center;
}

.home-button i {
    font-size: 4vh;
}

.home-button:hover {
    background-color: #4D243D;
    color: #ECDCC9;
}

/* Page Content */
/* Project Title Area */
.project-title-area {
    padding: 0 2.09vw;
}

.project-title {
    font-size: 50px;
}

.project-category {
    grid-column-gap: .6em;
    grid-row-gap: .8em;
    flex-wrap: wrap;
    display: flex;
}

.project-category .category {
    text-align: center;
    letter-spacing: .1em;
    text-transform: capitalize;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: .6em 2em;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

/* Project Timeline */
.project-timeline .timeline-date {
    width: 14%;
    text-align: center;
    letter-spacing: .1em;
    text-transform: capitalize;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: .6em 2em;
    font-size: 14px;
    font-weight: 700;
}
/* -------------------------------------- */

/* Project Head Image */
.head-image {
    width: 100%;
    padding: 0 2.09vw;
}
/* -------------------------------------- */
/* ---------------------------------------------------- */
/* =========================================================================================== */